* {
  margin: 0;
  padding: 0;
}

/* Card styles */
.centerItems {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #23252c;
}

.card {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 300px;
  height: 700px;
  background-color: #1a1b21;
  border-radius: 10px;
  object-fit: contain;
  overflow-y: scroll;
}
.card::-webkit-scrollbar {
  display: none;
}

/* Woman photo */
.womanPhoto {
  height: 80%;
  width: 100%;
}

/* Header styles */
.HeaderCenter {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HeaderCenter h1 {
  color: white;
  font-size: 25px;
  margin-top: 10px;
}
.HeaderCenter h3 {
  margin-top: 5px;
  font-weight: 400;
  color: #f3bf99;
  font-size: 13px;
}
.HeaderCenter p {
  margin-top: 10px;
  font-weight: 100;
  color: white;
  font-size: 12px;
}
.HeaderCenter button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 70%;
  margin-top: 10px;
  font-weight: 200;
  font-size: 15px;
  color: #1a1b21;
  border: solid white;
  border-radius: 5px;
}
.HeaderCenter button .mailLogo {
  margin-right: 5px;
}

/* About and interests styles */
.about {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  width: 80%;
  color: white;
  font-family: "Inter", sans-serif;
}
.about h1 {
  font-size: 16px;
}
.about p {
  padding-top: 5px;
  font-size: 10px;
}

/* Footer styles */

.footer {
  width: 300px;
  height: 50px;
  background-color: #161619;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-evenly;
}
.footer img {
  width: 25px;
}

/* Airbnb */
.airbnbNav nav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 70px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
/* hero image */
.heroImgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 50px;
  width: 100vw;
}
.heroImgs img {
  width: 650px;
}
.heroImgs .grid1 {
  margin-top: 70px;
}
/* hero text */
.heroTexts {
  margin-top: 50px;
  padding-left: 30px;
}
.heroTexts h1 {
  font-size: 46px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}
.heroTexts p {
  width: 400px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

/* Cart items */
.cartItems {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-left: 30px;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}
.oneCart {
  position: relative;
  width: 300px;
}
.cardBadge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
.oneCart img {
  width: 250px;
}
.cartItems .stars {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.cartItems .stars img {
  width: 15px;
}
.cartItems .stars p {
  font-size: 18px;
  color: #222222;
}
.cartItems .lesson {
  font-size: 18px;
  font-weight: 300;
}
.cartItems .Price {
  font-size: 18px;
  font-weight: 600;
}
